<!-- <p>home works!</p> -->

<div class="bodyContent">
  <div class="row">
    <div class="col-lg-6">
      <div class="leftBox" data-aos="fade-up" data-aos-duration="3000">
        <h1>Praesent imperdiet</h1>
        <h3>Aliquam convallis enim molestie venenatis risus reader.</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry lorem Ipsum has been the
          industrys standard dummy text ever since the</p>
        <div class="btns">
          <a routerLink="/samples" class="requestDemo">Request a Demo</a>
          <a routerLink="/samples" class="getStart">Get Start</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="rightBox" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
        data-aos-duration="500">
        <img class="bottomBg" src="../../../../assets/images/screen.png" alt="" title="">
      </div>
    </div>
  </div>
</div>