.progress{
  height:3%;
  opacity: 0.5;
  background: #fafafa;
}

.progress-bar-success{
  background-color: #46bda1;
}

.showDiv {
  visibility: visible;
}

.hideDiv {
  visibility: hidden;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}