<!-- <p>textract works!</p>

<input type="file" accept="image/jpeg,image/jpg,image/png" (change)="textDetect($event)">
<p id="textractResult"></p> -->
<div class="uploadRow" id="fileUpload" #fileUpload>
  <div class="progress" [ngClass]="{'showDiv': progress > 0, 'hideDiv': progress < 1}">
    <div class="progress-bar progress-bar-success"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{'width': progress+'%'}"
    ></div>
  </div>
  <div>
    <p>
      Drop or Upload Your File or
      <a href="javascript:void(0);" (click)="triggerInput()">choose files</a>
      <input
        #fileInput
        id="fileInput"
        type="file"
        accept="image/jpeg,image/jpg,image/png"
        hidden="true"
        (change)="readFile($event)"
      />
    </p>
    <span *ngIf="fileName">Selected File - {{ fileName }}</span>
    <span>Supported file formats: JPG, SVG, PNG </span>
    <span>Max file upload size is 5mb</span>
    <a href="javascript:void(0);" class="converData" [ngClass] = "{'disabled-button': (progress > 0 && progress <100)}" (click)="textDetect()">Convert Image</a>
  </div>
</div>
