html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Mulish', sans-serif; overflow-x: hidden;overflow-y: hidden;
}

.mainBox {
	width: 100%;
	height: 100%
}

.btmBgRow .bottomBg {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.logo {
	position: absolute;
	top: 20px;
	left: 50px;
}

.leftBox {
	float: left;
	margin-top:20%;
}

.rightBox {
	float: right;
	margin-top: 6%;
	text-align: right;
}

.rightBox img {
	text-align: left;
	width: 600px;
}

.btmBgRow {
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: -1;
}

.leftBox h1 {
	font-size: 50px;
	margin: 0px;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 20px;
}

.leftBox h3 {
	font-size: 30px;
	margin: 0px;
	font-weight: 600;
	padding-right: 150px;
	margin-bottom: 15px;
}

.leftBox p {
	font-size: 17px;
	margin: 0px;
	line-height: 25px;
	padding-right:110px;
	margin-bottom: 50px;
}

a.requestDemo {
	background: #2fac8f;
	color: #fff;
	font-size: 16px;
	padding: 12px 30px;
	border-radius: 60px;
	font-weight: 600;
	text-decoration: none;
	border: 1px solid #2fac8f;
	text-transform: uppercase;
}

a.requestDemo:hover {
	background: #fff;
	border: 1px solid #333;
	color: #333;
	font-weight: 600;
}

a.getStart {
	background: #fff;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 60px;
	text-decoration: none;
	border: 1px solid #333;
	text-transform: uppercase;
}

a.getStart:hover {
	background: #2fac8f;
	border: 1px solid #2fac8f;
	color: #fff;
	font-weight: 600;
}

.headerSecion {     width: 95%;
    height: auto;
    margin: 0px auto; }
.box { width: 100%; height: 100px; background: #000; }
.box1 { width: 100%; height: 100px; background: #ff0000; }

.bodyContent {
    margin: 0px auto;
    width: 90%;
    margin-top: 4%;
}
.btmBgRow p {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
.topbg {
    position: absolute;
    top: 0;
    right: 0px;
}
.bodyContent.innerContent {
    margin-top: 7%;
}
.docBox {
    border: 1px solid #ededed;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}
.docBox img {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
}
.docBox h3 {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    margin-bottom: 0px;
    padding-left: 15px;
}
.docBox p {
    font-size: 13px;
    font-weight: 500;
    color: #595959;
    margin-bottom: 15px;
    padding-left: 15px;
}
.innerHeading {
    margin-bottom: 15px;
}
.innerHeading h4 {
    font-size: 22px;
}
.custom-radio {
    float: left;
    margin-right: 20px;
    font-size: 13px;
}
input#customRadio2{
    vertical-align: -1px;
}

.uploadRow {
    background: #fafafa;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    border: 1px dashed #46bda1;
    text-align: center;
}
a.converData {
    float: right;
    right: 30px;
    background: #46bda1;
    border-radius: 50px;
    padding: 10px 30px;
    position: absolute;
    top: 27px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
a.converData:hover {    
    background: #299d81; text-decoration: none;
}
.uploadRow p {
    font-size: 14px;
    padding-bottom: 0;
    margin-bottom: 0px;
    color: #2a2a2a;    margin-top: 21px;
}
.uploadRow span {
    font-size: 10px;
    display: block;
    color: #9f9f9f;
}
.form__item img {
    vertical-align: -1px;
    margin-right: 7px;
}
.resultView {
        border: 1px solid #ddd;
    width: 100%;
    min-height: 530px;
    border-radius: 5px;
}
.thumbnail img {
    width: 85%;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.thumbnail {
    border-right: 1px solid #ddd;
    min-height: 530px;
    text-align: center;
    padding-top: 20px;
}
.resultbox img {
    margin-top: 20px;
}




/*

@media screen and (max-width:992px) and (min-width: 320px) {
.logo {
    left: 30px;
}
.leftBox {
    float: left;
    width: 100%;
    margin-top: 30%;
}
.leftBox h1 {
    font-size: 25px;
    padding-left: 30px;
    margin-bottom: 10px;
    padding-right: 30px;
}
.leftBox h3 {
    font-size: 21px;
    padding-left: 30px;
    padding-right: 0;
    margin-bottom: 10px;padding-right: 30px;
}
.leftBox p {
    font-size: 17px;
    margin: 0px;
    padding-left: 30px;
    line-height: 25px;
    margin-bottom: 30px;
    padding-right: 30px;
}
.btns {
    padding-left: 30px;
}
a.getStart {
    background: #fff;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 20px;
    border-radius: 60px;
    text-decoration: none;
    border: 1px solid #333;
    text-transform: uppercase;
}
a.requestDemo {
    background: #2fac8f;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 60px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #2fac8f;
    text-transform: uppercase;
}
.rightBox {
    float: left;
    width: 100%;
    margin-top: 15%;
    text-align: right;
    position: absolute;
    bottom: 10px;
}
.rightBox img {
    text-align: left;
    padding-right: 30px;
    width: 82%;
    padding-left: 30px;
}

}

@media screen and (max-width:992px) and (min-width: 768px) {

}

@media screen and (max-width:992px) and (min-width: 768px) {

}

*/




























