<div class="app">
  <!-- <header>
    <section>
      <h1>{{ title }}</h1>
      <h2> {{ version }}</h2>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/signin">Signin</a></li>
      </ul>
    </nav>
  </header> -->
  <!-- <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="timer"
    [fullScreen]="true">
    <p style="color: white">Loading...</p>
  </ngx-spinner> -->
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    [fullScreen]="true"
    template = '<img src="../assets/images/logo.jpg" />'
  >
  </ngx-spinner>

  <main>
    <div class="mainBox">
      <div class="logo">
        <a routerLink="/"
          ><img
            src="../assets/images/logo.jpg"
            alt="LaunchPod"
            title="LaunchPod"
        /></a>
      </div>
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <div class="btmBgRow">
      <p>© Copyright 2020 Launchpod.com</p>
      <img class="bottomBg" src="../assets/images/btmBg.png" alt="" title="" />
      <!-- images/btmBg.png -->
    </div>
  </footer>
</div>
