/* app-view-result{
  
} */

table.resultData {
  width: 97%;
}
table.resultData tr {
  border-bottom: 1px solid #eee;
  font-size: 14px;
  line-height: 30px;
}
.resultbox {
  height: 530px;
  overflow-x: hidden;
  overflow-y: scroll;
}
