<!-- <p>about works!</p> -->
<!-- <div class="mainBox">
  <div class="logo"><a href="index.html"><img src="../../../../assets/images/logo.jpg" alt="LaunchPod" title="LaunchPod"></a></div>
  
</div> -->

<!-- <input type="radio" name="1" id="1" class="with-gap" [(ngModel)]="flag" [value]="0"> -->
<!-- <input type="radio" name="2" id="2" class="with-gap" [(ngModel)]="flag" [value]="1" > -->
<!-- {{flag}} -->

<div class="topbg">
  <img src="../../../../assets/images/innertopBg.png" alt="" title="">
</div>
<div class="bodyContent innerContent">
  <div class="row">
    <div class="col-lg-3">
      <div class="form__item">
        <span><img src="../../../../assets/images/backArrow.jpg" alt="" title="" routerLink="/samples"> Back</span>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="innerHeading">
        <h4>Aliquam convallis enim molestie venenatis</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="resultView">
        <div class="row">
          <div class="col-lg-3">
            <div class="thumbnail" *ngIf="!imageData">
              <img src="./../../../assets/images/doc1.jpg" alt="" title="">
            </div>
            <div class="thumbnail" *ngIf="imageData">
              <img [src]="imageData" alt="" title="">
            </div>
          </div>
          <div class="col-lg-9">
            <div class="resultbox" *ngIf="rawData.type === 'rekog'">
              <!-- <div [innerHTML]="outputHTML | safeHtml"></div> -->
              <table class="resultData">
                <caption>Output</caption>
                <tr>
                  <th id="object">Object</th>
                  <th id="matchpercentage">Confidence</th>
                </tr>
                <tr *ngFor="let item of rekogLabels">
                  <td>{{item.Name}}</td>
                  <td>{{item.Confidence | number : '1.2-2'}}</td>
                </tr>
              </table>
            </div>
            <div class="resultbox" *ngIf="rawData.type === 'textract'">
              <ng-container *ngIf="textractOutputs.lines">
                <table class="resultData">
                  <caption>Line wise output</caption>
                  <tr>
                    <th id="key">Lines</th>
                  </tr>
                  <tr *ngFor="let item of textractOutputs.lines">
                    <td>{{item}}</td>
                  </tr>
                </table>
              </ng-container>
              <ng-container *ngIf="textractOutputs.formData">
                <table class="resultData">
                  <caption>Output in key value pair</caption>
                  <tr>
                    <th id="key">Key</th>
                    <th id="value">Value</th>
                  </tr>
                  <tr *ngFor="let key of objectKeys(textractOutputs.formData)">
                    <td>{{key}}</td>
                    <td>{{textractOutputs.formData[key]}}</td>
                  </tr>
                </table>
              </ng-container>
              <ng-container *ngIf="textractOutputs.tables">
                <table class="resultData" *ngFor="let table of textractOutputs.tables; let i = index; last as isLast">
                  <caption>Table {{i+1}}</caption>
                  <tr *ngFor="let row of objectKeys(table)">
                    <td *ngFor="let key of objectKeys(table[row])">{{table[row][key]}}</td>
                  </tr>
                </table>
              </ng-container>
              <!-- <ng-container *ngIf="textractOutputs.tables">
                <div [innerHTML]="textractOutputs.tables"></div>
              </ng-container>
              <ng-container *ngIf="textractOutputs.lines">
                <div [innerHTML]="textractOutputs.lines"></div>
              </ng-container> -->
            </div>
            <!-- <img src="./../../../assets/images/result.jpg" alt="" title=""> -->
            <!-- <div class="resultbox table-container" *ngIf="rawData.type === 'rekog'" [innerHTML]="outputHTML">
            </div>
            <div class="resultbox" *ngIf="rawData.type === 'textract'">
              <div *ngIf="textractOutputs.formData">
                <h3>Form Data</h3>
                <div [innerHTML]="textractOutputs.formData"></div>
              </div>
              <div *ngIf="textractOutputs.tables">
                <h3>Table</h3>
                <div [innerHTML]="textractOutputs.tables"></div>
              </div>
              <div *ngIf="textractOutputs.lines">
                <h3>Lines</h3>
                <div [innerHTML]="textractOutputs.lines"></div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-textract *ngIf="flag == 'textract'" (fileData)="textractOutput($event)"></app-textract>
<app-rekog *ngIf="flag == 'rekog'" (fileData)="rekogOutput($event)"></app-rekog>