<!-- <p>about works!</p> -->
<!-- <div class="mainBox">
  <div class="logo"><a href="index.html"><img src="../../../../assets/images/logo.jpg" alt="LaunchPod" title="LaunchPod"></a></div>
  
</div> -->

<!-- <input type="radio" name="1" id="1" class="with-gap" [(ngModel)]="flag" [value]="0"> -->
<!-- <input type="radio" name="2" id="2" class="with-gap" [(ngModel)]="flag" [value]="1" > -->
<!-- {{flag}} -->

<div class="topbg">
  <img src="../../../../assets/images/innertopBg.png" alt="" title="">
</div>
<div class="bodyContent innerContent">
  <div class="row">
    <div class="col-lg-4">
      <div class="form__item">
        <div class="custom-radio">
          <input class="customRadio" id="customRadio1" name="custom-radio" required type="radio" value="textract"
            [(ngModel)]="flag">
          <label class="customRadio" for="customRadio1">TextRact</label>
        </div>
        <div class="custom-radio">
          <input class="customRadio" id="customRadio2" name="custom-radio" type="radio" value="rekog"
            [(ngModel)]="flag">
          <label class="customRadio" for="customRadio2">Rekog</label>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="innerHeading">
        <h4>Aliquam convallis enim molestie venenatis</h4>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="flag == 'textract'">
    <div class="col-lg-3" *ngFor="let item of textractSampleList"  (click)="convertSampleImageTextract(item.imageName)">
      <div class="docBox">
        <img [src]="item.uri" [alt]="item.description" [title]="item.title">
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
    </div>
    <!-- <div class="col-lg-3">
      <div class="docBox">
        <img src="../../../../assets/images/doc2.jpg" alt="" title="">
        <h3>Passport</h3>
        <p>Lorem Ipsum is simply dummy</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="docBox">
        <img src="../../../../assets/images/doc3.jpg" alt="" title="">
        <h3>Aadhar Card</h3>
        <p>Lorem Ipsum is simply dummy</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="docBox">
        <img src="../../../../assets/images/doc4.jpg" alt="" title="">
        <h3>Driving licence</h3>
        <p>Lorem Ipsum is simply dummy</p>
      </div>
    </div> -->
  </div>
  <div class="row" *ngIf="flag == 'rekog'">
  <div class="col-lg-3" *ngFor="let item of rekogSampleList"  (click)="convertSampleImageRekog(item.imageName)">
      <div class="docBox">
        <img [src]="item.uri" [alt]="item.description" [title]="item.title">
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
    </div>
    <!-- <div class="col-lg-3">
      <div class="docBox">
        <img src="../../../../assets/images/doc5.jpg" alt="" title="">
        <h3>Pan Card</h3>
        <p>Lorem Ipsum is simply dummy</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="docBox">
        <img src="../../../../assets/images/doc6.jpg" alt="" title="">
        <h3>Receipts</h3>
        <p>Lorem Ipsum is simply dummy</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="docBox">
        <img src="../../../../assets/images/doc7.jpg" alt="" title="">
        <h3>Fan</h3>
        <p>Lorem Ipsum is simply dummy</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="docBox">
        <img src="../../../../assets/images/doc8.jpg" alt="" title="">
        <h3>Resume</h3>
        <p>Lorem Ipsum is simply dummy</p>
      </div>
    </div> -->
  </div>
</div>
<app-textract *ngIf="flag == 'textract'" (fileData)="textractOutput($event)"></app-textract>
<app-rekog *ngIf="flag == 'rekog'" (fileData)="rekogOutput($event)"></app-rekog>